<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/对象的引用级别/src/com/hx/test/TestSoftReference.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.hx.test.TestSoftReference"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="对象的引用级别"/>
</launchConfiguration>
